<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vitech: Input</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/input.css">

  </head>

  <body>
      <div class = "container-fluid">
        <div class="row" id = "top_row">
          <div class="col-sm-3">
              <a href="index.html"><img id="logo" src="../static/VitechLogo.png" style="width:75%"/></a>
          </div>
          </br>
          <hr class="hr1"/>
          <hr id="hr2"/>
          <hr id="hr3"/>
        </div>
      </div>

      <form method="post" action="/input">
        <div id="fade">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3" class="prompt">Sex: </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">Male</div>
            <div class="col-md-1"><input type="radio" name="sex" id="sex1" class="sex" value="M" checked></div>
            <div class="col-md-2" align="center">Female</div>
            <div class=:"col-md-1"><input type="radio" name="sex" id="sex2" class="sex" value="F"></div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">DOB (yyyy-mm-dd): </div>
            <div class="col-md-3">
              <input type="text" name="DOB" id="dob">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Address: </div>
            <div class="col-md-3">
              <input type="text" name="address" id="address">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">City: </div>
            <div class="col-md-3">
              <input type="text" name="city" id="city">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">State: </div>
            <div class="col-md-3">
              <input type="text" name="state" id="state">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Longitude: </div>
            <div class="col-md-3">
              <input type="text" name="longitude" id="longitude">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Latitude: </div>
            <div class="col-md-3">
              <input type="text" name="latitude" id="latitude">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Employment Status (E or U): </div>
            <div class="col-md-3">
              <input type="text" name="EMPLOYMENT_STATUS" id="emp_status">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Number of People Being Covered: </div>
            <div class="col-md-3">
              <input type="text" name="PEOPLE_COVERED" id="peo_cov">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Optional Insured: </div>
            <div class="col-md-3">
              <input type="text" name="OPTIONAL_INSURED" id="opt_ins">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Annual Income: </div>
            <div class="col-md-3">
              <input type="text" name="ANNUAL_INCOME" id="ann_inc">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Marital Status (S or M): </div>
            <div class="col-md-3">
              <input type="text" name="MARITAL_STATUS" id="mar_stat">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Height (inches): </div>
            <div class="col-md-3">
              <input type="text" name="HEIGHT" id="height">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Weight (pounds): </div>
            <div class="col-md-3">
              <input type="text" name="WEIGHT" id="weight">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">Do you eat or smoke tobacco? (Yes or No): </div>
            <div class="col-md-3">
              <input type="text" name="TOBACCO" id="tobacco">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h3>Do you have: </h3>
            </div>
            <div class="col-md-1">
              <h3>Yes</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <h3>No</h3>
            </div>
            <div class="col-md-3" align="center">
              <h3>ICD Code</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Chronic Viral Hepatitis B without Delta-Agent<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Chronic viral hepatitis B without delta-agent1" id="hepBy" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Chronic viral hepatitis B without delta-agent1" id="hepBn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Chronic viral hepatitis B without delta-agent" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Ataxic cerebral palsy<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Ataxic cerebral palsy1" id="acpy" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Ataxic cerebral palsy1" id="acpn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Ataxic cerebral palsy" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Diarrhea<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Diarrhea, unspecified1" id="diary" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Diarrhea, unspecified1" id="diarn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Diarrhea, unspecified" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Tachycardia<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Tachycardia, unspecified1" id="tachy" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Tachycardia, unspecified1" id="tachn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Tachycardia, unspecified" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Obstructive Sleep Apnea<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Obstructive Sleep Apnea1" id="osay" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Obstructive Sleep Apnea1" id="osan" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Obstructive Sleep Apnea" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Fracture of Metacarpal Bone with Laterality<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Unspecified fracture of specified metacarpal bone with unspecified laterality1" id="fmbly" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Unspecified fracture of specified metacarpal bone with unspecified laterality1" id="fmbln" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Unspecified fracture of specified metacarpal bone with unspecified laterality" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Abnormal Heart Beat<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Other abnormalities of heart beat1" id="ahb" class="ahby" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Other abnormalities of heart beat1" id="ahb" class="ahbn" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Other abnormalities of heart beat" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Type 2 Diabetes Mellitus with Hyperglycemia<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="Type 2 diabetes mellitus with hyperglycemia1" id="t2dy" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="Type 2 diabetes mellitus with hyperglycemia1" id="t2dn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="Type 2 diabetes mellitus with hyperglycemia" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>HIV Disease Resulting in Bacterial Infection<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="HIV disease resulting in other bacterial infections1" id="hivy" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="HIV disease resulting in other bacterial infections1" id="hivn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="HIV disease resulting in other bacterial infections" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" class="prompt">
              <h4>Cough with Hemorrhage<h4>
            </div>
            <div class="col-md-1">
              <input type="radio" name="cough with hemorrhage1" id="cwhy" class="yesno" value="Yes">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <input type="radio" name="cough with hemorrhage1" id="cwhn" class="yesno" value="No" checked>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="form-group">
                <select name="cough with hemorrhage" class="form-control">
                  <option>000.0</option>
                  <option>R19.7</option>
                  <option>E11.65</option>
                  <option>F10.121</option>
                  <option>R00.8</option>
                  <option>F14.121</option>
                  <option>T85.622</option>
                  <option>T84.011</option>
                  <option>R04.2</option>
                  <option>B20.1</option>
                  <option>G30.0</option>
                  <option>N18.9</option>
                  <option>G80.4</option>
                  <option>B18.1</option>
                  <option>G47.33</option>
                  <option>M05.10</option>
                  <option>Z91.01</option>
                  <option>S62.308</option>
                  <option>R00.0</option>
                </select>
              </div>
            </div>
          </div>

          <hr id="bottom_line"/>

          <div class="row" id="button_row">
            <div class="col-md-5"></div>
            <div class="col-md-2" align="center">
              <button type="submit" id="submit" class="btn btn-success btn-lg" value="Get My Quote">Get My Quote</button>
            </div>
          </div>
        </div>
      </form>
  </body>
</html>    <script type="text/javascript" src="../input.js"></script>
