<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vitech: Compare Quotes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="../d3.v3.min.js"></script>
        <script src="../jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../d3.parcoords.css">
        <script src="../d3.parcoords.js"></script>
        <link rel="stylesheet" href="../static/css/par_coor.css">
    </head>

    <body>
        <div class = "container-fluid">
            <div class="row">
                <div class="col-sm-3">
                     <a href="main.html"><img id="logo" src="../static/VitechLogo.png" style="width:75%"/></a>
                </div>
                </br>
                <hr id="hr1"/>
                <hr id="hr2"/>
                <hr id="hr3"/>
            </div>

            <div id="fade">

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" id="quote_graph">Quote Graph</div>
                </div>

                <div class="row" id="graph_row">
                    <div class ="col-md-2"></div>
                    <div class="col-md-10">
                        <div id="example-progressive" class="parcoords" style="width:1300px;margin-left:-250px;height:270px;"></div>
                    </div>
                </div>

                <div class="row" id="recommend">
                    <div class="col-md-12" id="quote_graph">We recommend the gold plan.</div>
                </div>

                </div>
                <div class="row" id="button_row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7" align="right">
                        <button type="button" id="submit" class="btn btn-warning btn-lg" value="Back">Back</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
    <script type="text/javascript" src="../par_coor.js"></script>
    <script id="coloring-basic">var colors = d3.scale.category20b();
        // create a chart in every element with class "parcoords-coloring"
        d3.selectAll(".parcoords-coloring")
          .each(function(d,i) {
            var color = colors(i);
            var chart = d3.parcoords()(this)
              .data(data3.slice(7*i,7*i+30))
              .alpha(0.6)
              .color(color)
              .margin({
                top: 0,
                left: 0,
                bottom: 24,
                right: 0
              })
              .render();
            // color labels
            var text = chart.svg.append("text")
              .attr("x", 162)
              .attr("y", 64)
              .style({
                "text-anchor": "end",
                "font-weight": "bold",
                "font-size": "11px",
                "fill": "#ddd"
              })
              .text(colors(i))
            // hover effect
            d3.select(this).on({
              "mouseover": function() { text.style("fill", "#222"); },
              "mouseout": function() { text.style("fill", "#ddd"); }
            })
          });
      </script>
</html>